@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button {

}

/* Media queries */

@media (max-width: 763px) {

}

@media(min-width: 764px) and (max-width: 1439px) {

}
