@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: #0000006b;
}

.button {

}


/* || Nav */

.navbar {
    width: 100%;
    background-color: var(--bg-primary);
}
/* Media queries */

/* Mobile */
@media (max-width: 763px) {

}

/* Tablet */
@media(min-width: 764px) and (max-width: 1439px) {

}
